:root {
    --bg-color: #fafafa;
    --text-color: #000;
    --inverted-bg-color: #090949;
    --primary-color: #cc33ca;

    // skeleton
    --skeleton-color: #cc33ca;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
